#images {
  position: relative;
  width: 100%;
  margin-left: 90px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 250px 250px;
  grid-gap: 50px 200px;
}

#text {
  font-size: 32px;
  position: relative;
  top: -160px;
  margin-left: 42px;
  width: 100%;
  padding: 15px;
  color: white;
}

.pic {
  height: 100%;
  width: 220%;
}
.title {
  font-size: 40px;
  margin-top: 20px;
  padding: 5px;
  background-color: blue;
}
.titleContainer {
  max-width: 70%;
  margin-left: 250px;
  max-resolution: 10px;
}

.main {
  margin-top: 50px;
}

.table {
  font-size: 40px;
  position: relative;
  top: -130px;
  margin-left: 78px;
  width: 50%;
  padding: 3px;
  color: white;
  background-color: blue;
}
