#images {
  position: relative;
  width: 100%;
  margin-left: 90px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 250px 250px;
  grid-gap: 50px 80px;
}

div.main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 79vh;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.imageContainer {
  text-align: center;
  padding: 10px 20px;
  background-image: url("../../.././images/slideThreebg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  font-size: 32px;
  position: relative;
  top: -160px;
  margin-left: -17px;
  width: 100%;
  padding: 15px;
  color: white;
}

.pic {
  height: 100%;
  width: 220%;
}
.title {
  font-size: 40px;
  margin-top: 20px;
  padding: 5px;
}
.titleContainer {
  max-width: 70%;
  margin-left: 250px;
}

.main {
  margin-top: 50px;
}

.table {
  font-size: 25px;
  position: relative;
  top: -111px;
  margin-left: 60px;
  width: 50%;
  padding: 3px;
  color: white;
}
