.wrapper {
  width: 900px;
  height: 400px;
  position: relative;
  left: 0px;
  top: 0px;
}
.containerTotaliser {
  width: 45vw;
  height: 100vh;
  position: relative;
  left: 0%;
  top: 0;
}
.water_pump {
  width: 50%;
  height: 73%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
}
.jerrycan {
  width: 32vw;
  height: 30vh;
  position: absolute;
  left: 17.5%;
  top: 48%;
  z-index: 2;
}
.droplet {
  width: 3vw;
  height: 4vh;
  position: absolute;
  left: 42.5%;
  z-index: 0;
}
.totalNumber {
  font-size: 240%;
  position: absolute;
  left: 38%;
  top: 59.5%;
  z-index: 3;
  transform: rotate(10deg);
  font-family: Arial, Helvetica, sans-serif;
}
.text { 
  font-size: 240%;
  position: absolute;
  left: 35%;
  top: 26%;
  z-index: 4;
  font-family: Arial, Helvetica, sans-serif;
}
