.containerTotaliser {
  width: 40vw;
  height: 80vh;
  position: relative;
  left: 0%;
  top: 0;
}
.water_pump {
  width: 90%;
  height: 73%;
  position: absolute;
  left: 0%;
  top: 20%;
  z-index: 1;
}
.jerrycan {
  width: 32vw;
  height: 30vh;
  position: absolute;
  left: 49%;
  top: 65%;
  z-index: 2;
}
.droplet {
  width: 3vw;
  height: 4vh;
  position: absolute;
  left: 77%;
  z-index: 0;
}
.totalNumber {
  font-size: 240%;
  position: absolute;
  left: 72.5%;
  top: 79.5%;
  z-index: 3;
  transform: rotate(11deg);
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  font-size: 240%;
  position: absolute;
  left: 48%;
  top: 30%;
  z-index: 4;
  font-family: Arial, Helvetica, sans-serif;
}

.confettiBox {
  width: 100vw;
  height: 100vh;
}