.screen {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

.background {
  background-image: url("../../images/Slide 4_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.listText {
  font-size: 400%;
  left: 100px;
  top: 0px;
  position: absolute;
  width: 300px;
  height: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.list {
  width: auto;
  height: auto;
  position: relative;
  left: 100px;
  top: 200px;
  color: white;
  z-index: 2;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 40vw;
  height: 20vh;
}

th, td {
  border: 1px solid white;
  width: 3vw;
  height: 3vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.lotsImage {
  width: 50px;
  height: 50px;
  position: center;
  border: 1px solid red;
}

.lotsText {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.footerText {
  font-size: 200%;
  left: 100px;
  top: 900px;
  position: absolute;
  width: auto;
  height: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 6;
}