.screen {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

.background {
  background-image: url("../../images/Slide 4_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.headerText {
  font-size: 450%;
  left: 100px;
  top: 0px;
  position: absolute;
  width: 600px;
  height: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.list {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 100px;
  top: 200px;
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 50vw;
  height: 50vh;
  border-spacing: 3px;
  border-collapse: separate;
}

th, td {
  border: 1px solid white;
  height: 50px;
  overflow-y: auto;
  overflow-x: auto;
}

.lotsImage {
  width: 100px;
  height: 50px;
  position: relative;
  border: 1px solid red;
}

.lotsText {
  color: white;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.footerText {
  font-size: 200%;
  left: 100px;
  top: 980px;
  position: absolute;
  width: auto;
  height: 80px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 6;
}

.pic {
  width: 100px;
}
