div.polaroid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div.background {
  text-align: center;
  padding: 10px 20px;
  /* background-image: url("./spot-light-background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.list {
  width: 400px;
  height: 400px;
  position: relative;
  left: 200px;
  top: 200px;
}
