.parent {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
  grid-template-rows: repeat(2, 1fr) 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  text-align: center;
  font-size: 0.9em;
  color: dodgerblue;
  font-weight: bold;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 4 / 3 / 5;
}
.div6 {
  grid-area: 2 / 5 / 3 / 6;
}
.div7 {
  grid-area: 3 / 1 / 4 / 2;
}
.div8 {
  grid-area: 3 / 3 / 4 / 4;
}
.div9 {
  grid-area: 3 / 5 / 4 / 6;
}

.div2,
.div4,
.div6 {
  border-radius: 4px;
  background: dodgerblue;
  font-weight: bold;
  color: white;
  text-align: center;
  height: fit-content;
  font-size: 0.9em;
}

.div2,
.div4,
.div6,
.div3,
.div5 {
  height: 90%;
}

.div3,
.div5 {
  text-align: center;
  font-weight: bold;
  color: dodgerblue;
}

.div7,
.div8,
.div9 {
  font-size: 0.7em;
  margin-top: -5px;
}
