.imgStyle {
  width: 900px;
  height: 700px;
  margin-right: 8%;
  margin-left: 5%;
  float: left;
  margin-top: 9px;
}
.user {
  text-align: right;
  position: relative;
  width: 450px;
  height: 70px;
  margin: 6em 0;
}
.creditStyle {
  position: absolute;
  margin-left: 113%;
  width: 89%;
  height: 59%;
  margin-top: 143%;
  background-color: white;
}

.captionText {
  margin-top: -162px;
  font-size: 31px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin-right: 40px;
}
.textStyle {
  width: 90%;
  height: 70%;
  text-align: left;
  font-size: 27px;
  color: black;
  overflow-wrap: break-word;
  margin-right: 5%;
  margin-left: 5%;
  font-weight: normal;
  margin-top: 50px;
}
