.imgStyle {
  width: 900px;
  height: 700px;
  margin-right: 10%;
  margin-left: 5%;
  float: left;
}

.creditStyle {
  position: absolute;
  margin-left: 90%;
  width: 150%;
  height: 90%;
  margin-top: 140%;
  background-color: white;
}

.captionText {
  font-size: 31px;
  font-weight: bold;
  color: black;
  text-align: left;
}
.textStyle {
  width: 90%;
  height: 70%;
  text-align: left;
  font-size: 27px;
  color: black;
  overflow-wrap: break-word;
  margin-right: 5%;
  margin-left: 5%;
  font-weight: normal;
}
