.App {
  text-align: center;
  overflow: hidden;
}

.header-container {
  display: flex;

  height: 9vh;
  font-size: 2em;
  margin-bottom: -25px;
}
.titleSt {
  margin: 1%;
  margin-left: 270px;
  font-size: 4.5vh;
}

.footer-container {
  display: flex;
  height: 60px;
  font-size: 2em;
  margin-top: 1px;
}

.footer-p1 {
  margin-left: 5%;
  margin-top: 12px;
}
.footer-p2 {
  margin-left: 20%;
  margin-top: 12px;
}

.water-aid-logo {
  height: 100%;
  margin-left: 50px;
}
.capgemini-logo {
  height: 100%;
  margin-top: 0.2%;
}
.cyf-logo {
  height: 100%;
  margin-top: 6px;
}
