.App {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  height: 8vh;

  font-size: 2em;
}
.titleSt {
  margin: 1%;
  font-size: 4.5vh;
}

.footer-container {
  display: flex;
  /* justify-content: space-around; */
  border: 1px solid black;
  height: 8vh;

  font-size: 2em;
}
/* .footer-container > * {
  border: 1px solid black;
} */
.footer-p1 {
  margin-left: 5%;
}
.footer-p2 {
  margin-left: 20%;
}
.cyf-logo,
.water-aid-logo,
.capgemini-logo {
  height: 100%;
}
