.App {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-around;
  height: 9vh;
  font-size: 2em;
  margin-bottom: -25px;
}
.titleSt {
  margin: 1%;
  margin-top: 2%;
  font-size: 4.5vh;
}

.footer-container {
  display: flex;
  height: 60px;
  font-size: 2em;
  margin-top: 10px;
}

.footer-p1 {
  margin-left: 5%;
  margin-top: 12px;
}
.footer-p2 {
  margin-left: 20%;
  margin-top: 12px;
}

.water-aid-logo {
  height: 100%;
}
.capgemini-logo {
  height: 100%;
  margin-top: 0.3%;
}
.cyf-logo {
  height: 100%;
  margin-top: 13px;
}
